<footer class="site-footer">
  <div class="wrap">
    <p class="site-footer-text">
      <a href="https://www.segulahminyan.org/" class="site-footer-link">Back to Segulah</a>
    </p>
  </div>
</footer>
